<ul class="topmenu">
    <li>
        <a href="/{{ user.username }}/bookmarks">
            <iconify-icon class="_svg" icon="material-symbols:star" inline="true" width="24"></iconify-icon>
            bookmarks</a>
    </li>
    <li>
        <a href="#" class="top_add_feed">
            <iconify-icon icon="fluent:globe-add-20-regular" width="24" inline="true" style="margin-bottom: -4px"></iconify-icon>
            add feed</a></li>
</ul>
<h2>
    <iconify-icon icon="fluent:group-list-20-regular" width="24" style="margin-bottom: -4px; padding-right: 4px;" color="#000">

    </iconify-icon>groups
</h2>
<ul class="groups">
    {% for group in groups %}
        <li><a href="/group/{{ group.ID }}">{{ group.description }}</a></li>
    {% endfor %}
</ul>
