					<ul class="topmenu">
						<li><a href="/{{user.username}}/bookmarks"><span class="simple-svg" data-icon="iwwa-star"></span> bookmarks</a></li>
						<li><a href="#" class="top_add_feed"><span class="simple-svg" data-icon="mdi-plus"></span> add feed</a></li>
					</ul>
					<h2><span class="simple-svg" data-icon="whh-stacks" data-inline="false"> </span> groups</h2>
					<ul class="groups">
						{% for group in groups %}
						<li><a href="/group/{{group.ID}}">{{group.description}}</a></li>
						{% endfor %}
					</ul>
