/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   color: #aec5eb => #CADC25
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    color: #2f3e46;
    background: #aec5eb;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    clear: both;
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* here we go */

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
    font-weight: 600;
}

h1 {
    font-size: 24px;
    line-height: 28px;
}

h2 {
    font-size: 22px;
    line-height: 26px;
}

i, em {
    font-style: italic;
}

b, strong {
    font-weight: 600;
}

th {
    background-color: #eee;
    font-weight: 600;
    padding: 0.35rem 0.55rem;
    text-align: left;
}

td {
    padding: 0.25rem;
    text-align: left;
}

.entry {
    border-radius: 20px;
}

.entry_contents p {
    line-height: 1.4;
    padding-bottom: 10px;
}

/* grid */
/* first mobile; 1 column */
.feed_grid,
.form_grid {
    clear: both;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}

@media (min-width: 960px) {
    .feed_grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1280px) {
    .feed_grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


navigation.mainmenu .slider {
    background: #fff;
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
    vertical-align: bottom;
    display: none;
    min-width: 50%;
    max-width: 90%;
    padding: 10px 50px 30px 20px;
    height: auto;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 5;
    -webkit-box-shadow: 3px 3px 10px 0px rgba(69, 69, 69, 1);
    -moz-box-shadow: 3px 3px 10px 0px rgba(69, 69, 69, 1);
    box-shadow: 3px 3px 10px 0px rgba(69, 69, 69, 1);
}

.fixed {
    color: #3a405a;
    background-color: #aec5eb;
    font-size: 30px;
    line-height: 40px;
    position: fixed;
    padding: 10px;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid #eee;
}

a.menudrop {
    border-bottom: none;
    text-decoration: none;
    color: #3a405a;
    background-color: #aec5eb;
    width: 60px;
    z-index: 20;
}

.fixed h1 {
    position: absolute;
    left: 60px;
    top: 20px;
    width: 90%;
    text-align: center;
}

.slider h2 {
    font-family: 'Open Sans', sans-serif;
    padding: 5px 0 5px 5px;
    color: #aec5eb;
}

.slider ul.feedlinks {
    height: 600px;
    display: block;
    overflow-y: auto;
    border: 1px solid black;
    margin-left: 30px;
}

.slider a {
    color: #2f3e46;
    text-decoration: none;
    border-bottom: none;
    padding-left: 5px;
}

.slider a:hover {
    background-color: #3a405a;
    color: #fff;
    font-weight: 600;
}

.slider ul,
.slider ul li {
    width: 100%;
}

.slider ul li a {
    display: block;
    width: 99%;
}

.slider li svg,
.slider h2 svg {
    width: 25px;
}

.grid_container {
    position: relative;
    top: 60px;
}


.feed, .recents {
    margin: 0 20px 10px 20px;
}

.feed_title {
    background-color: #3a405a;
    color: #fff;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
}

.feed_title h1 {
    padding: 25px 5px 5px 15px;
}

.entry .feed_title a {
    color: #fff;
    border-bottom: none;
}

.feed_description {
    padding: 0 5px 5px 15px;
    align-content: baseline;
}

.feed_description h3,
.feed_description .links {
    display: inline-block;
}

.feed_description .links {
    float: right;
}

.feed_description .links a {
    color: #fff;
}

.feed_description .links .sitelogo {
    max-height: 50px;
    width: auto;
    margin-top: -70px;
    margin-left: 10px;
    background: #fff;
    border-radius: 5px;
}


.entry {
    padding: 10px;
    background: #fff;
    -webkit-box-shadow: 3px 3px 10px 0 rgba(69, 69, 69, 1);
    -moz-box-shadow: 3px 3px 10px 0 rgba(69, 69, 69, 1);
    box-shadow: 3px 3px 10px 0 rgba(69, 69, 69, 1);
    overflow: auto;
    position: relative;
    min-height: 50px;
}

.entry a {
    color: #081779;
    text-decoration: none;
    border-bottom: 1px dotted #000;
}

.entry_title {
    margin-bottom: 5px;
}

.entry_title a {
    color: #2f3e46;
    border: none;
}

.entry_contents {
    margin-bottom: 40px;
}

.entry_contents blockquote,
.entry_contents pre {
    overflow-x: auto;
    overflow-y: hidden;
    background: #ededed;
    margin: 5px;
}


.entry_info {
    margin: 10px auto 0;
    padding: 10px 10px 5px;
    /* border-top: 1px dashed #bbb; */
    background: #DAE5F9;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: calc(100% - 40px);
    border-radius: 0 0 10px 10px;
    transform: translate(-50%, 0);
}

.entry_info .published {
    display: inline-block;
    padding-left: 10px;
}

.entry .navwrap {
    background: #DAE5F9;
    padding: 0 10px;
    border-radius: 10px;
    width: 90%;
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 0);
}

.navwrap .previous_entries,
.navwrap .next_entries {
    display: inline-block;
    line-height: 48px;
}

.navwrap .next_entries {
    float: right;
    font-size: 18px;
}

.navwrap .previous_entries a,
.navwrap .next_entries a {
    font-family: 'Merriweather', serif;
    font-weight: 600;
    font-size: 22px;
    border-bottom: none;
    color: #3a405a;
}

.form_grid {
    margin: 0 20px;
}

.form_grid h1 {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.login_form {
    line-height: 20px;
    font-size: 18px;
}

.login_form label {
    width: 40%;
    display: inline-block;
}

.login_form input[type=text],
.login_form input[type=password] {
    width: 40%;
    text-align: left;
    height: 24px;
}

.login_form input[type=submit] {
    padding: 5px 10px;
}

footer {
    position: relative;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    top: 60px;
}

footer svg {
    font-size: 26px;
    background: white;
    border-radius: 14px;
}

footer a {
    color: #000;
}

.sitemark {
    color: orange;
}

.search-recap {
    position: relative;
    background: #fff;
    margin: 20px;
    padding: 10px 5px;
}

.searchform {
    margin-left: 30px;
    padding: 5px;
}

.query {
    max-width: 50%
}

.search-recap .searchform {
    margin: 5px 10px;
}

.groups {
    min-width: 70%;
    max-width: 90%;
    margin: 0 auto;
    border: 1px solid silver;
}

.group-feeds {
    background: #eee;
    width: 95%;
    margin-left: 5%;
}

.actions {
    font-size: 150%;
    font-weight: 600;
    text-align: right;
}

.toggle svg {
    border: 1px solid #2f3e46;
    padding: 3px;
    border-radius: 50%;
}

.toggle {
    font-size: 150%;
    font-weight: 600;
}

.toggle a {
    text-decoration: none;
    border: none;
    color: #2f3e46;
}

.toggle a.closed svg {
    transform: rotate(180deg);
}

.bookmark {
    font-size: 140%;
    font-weight: 600;
    float: right;
}

.entry a.add_bookmark,
.entry a.remove_bookmark,
.entry a.action,
.entry_info .link a,
.actions a {
    border: none;
}

.entry .bookmark .active {
    color: #f9a602;
}

.widget {
    height: 100%;
    width: 100%;
    border: 1px solid #2f3e46;
    background: #fff;
    padding: 10px;
}

.widget h1 {
    margin-bottom: 10px;
    border-bottom: 1px solid #2f3e46;
    width: 100%;
}

.actions a {
    color: #2f3e46;
}

.feedselector {
    background: #fff;
    height: 80%;
    padding: 5px 20px;
    overflow-y: scroll;
}

.feedselector_feed {
    width: 100%;
}

.feedselector_feed:hover {
    background: #eee;
}

.feedselector_feed_title,
.feedselector_feed_url,
.feedselector_toggle {
    display: inline-block;
    padding: 2px 0;
    width: 30%;
    height: 1.2em;
}

.feedselector_feed_url {
    width: 50%;
    overflow: hidden;
}

.feedselector_toggle {
    width: 5%;
    min-width: 24px;
    text-align: center;
}

.feedselector_toggle.selected {
    background: #aec5eb;
}

.feedselector_toggle a {
    font-size: 120%;
    color: #2f3e46;
    border: none;
}

.feedselector_toggle.selected a {
    color: #fff;
}


.forms {
    display: none;
    width: 80%;
    height: 80%;
    top: 70px;
    left: 10%;
    position: fixed;
}

input.form_feed {
    font-size: 180%;
    line-height: 140%;
}

.form_button {
    font-size: 200%;
    color: #fff;
    /*background-color: #aec5eb; */
    background: #2f3e46;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
}

.group_form {
    background: #eee;
    border: 1px solid #2f3e46;
}

.group_form td:first-child {
    padding-left: 20px;
}

.group_form td:last-child {
    padding-right: 20px;
}

.group_form td {
    padding-top: 15px;
    padding-bottom: 15px;
}

.group_form input,
.searchform input {
    border: 1px solid #2f3e46;
    line-height: 120%;
    font-size: 110%;
}

.group_form select {
    font-size: 1.5em;
}

.group_form input[type=checkbox] {
    transform: scale(1.3);
}

.add_group_add,
.findme {
    font-size: 100%;
    color: #fff;
    background: #2f3e46;
    border-radius: 5px;
    border: none;
    padding: 0 5px;
}

.url_form,
.close {
    text-align: center;
}


/* code here because of feed-quircks */
/* constrain images to max: 100% */
.entry_contents img,
.entry_contents video {
    max-width: 100%;
    height: auto;
}

.wp-caption {
    max-width: 100% !important;
}

._svg {
    margin-bottom: -4px;
}

.sitelogo {
    margin-bottom: 4px;
}
