/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
	font-family: 'Open Sans', sans-serif;
	color: #2f3e46;
	background: #2e86ab;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	clear: both;
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* here we go */

h1, h2, h3, h4 {
	font-family: 'Merriweather', serif;
	font-weight: 600;
}
h1 {
	font-size: 24px;
	line-height: 28px;
}

h2 {
	font-size: 22px;
	line-height: 26px;
}

i, em {
	font-style: italic;
}

b, strong {
	font-weight: 600;
}

th {
  background-color: #eee;
  border-bottom: 1px solid #eee;
  font-weight: 600;
  padding: 0.55rem;
  text-align: left;
}

td {
  padding: 0.25rem;
  text-align: left;
}

/* constrain images to max: 100% */
.entry_contents  img,
.entry_contents  video {
	max-width: 100%;
	height: auto;
}
.entry_contents p {
	line-height: 1.4;
	padding-bottom: 10px;
}
/* grid */
/* first mobile; 1 column */
.feed_grid,
.form_grid {
	clear: both;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 20px;
}

@media (min-width: 960px) {
  .feed_grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  .feed_grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


navigation.mainmenu .slider {
	background: #fff;
	font-weight: 500;
	font-size: 19px;
	line-height: 30px;
	vertical-align: bottom;
	display: none;
	min-width: 50%;
	max-width: 90%;
	padding: 10px 50px 30px 20px;
	height: auto;
	position: fixed;
	top: 60px;
	left: 0;
	z-index: 5;
		-webkit-box-shadow: 3px 3px 10px 0px rgba(69,69,69,1);
	-moz-box-shadow: 3px 3px 10px 0px rgba(69,69,69,1);
	box-shadow: 3px 3px 10px 0px rgba(69,69,69,1);

}

.fixed {
	color: #fff;
	background-color: #2e86ab;
	font-size: 30px;
	line-height: 40px;
	position: fixed;
	padding: 10px;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	border-bottom: 1px solid #eee;
}
a.menudrop {
	border-bottom: none;
	text-decoration: none;
	color: #fff;
	background-color: #2e86ab;
	width: 60px;
	z-index: 20;
}

.fixed h1 {
	position: absolute;
	left: 60px;
	top: 20px;
	width: 90%;
	text-align: center;
}

.slider h2 {
	font-family: 'Open Sans', sans-serif;
	padding: 5px 0 5px 5px;
	color: #2e86ab;
}

.slider ul.feedlinks {
	height: 600px;
	display: block;
	overflow-y: auto;
	border: 1px solid black;
	margin-left: 5px;
}

.slider a {
	color: #2f3e46;
	text-decoration: none;
	border-bottom: none;
	padding-left: 5px;
}
.slider a:hover {
	background-color: #2e86ab;
	color: #fff;
	font-weight: 600;
}
.slider ul,
.slider ul li {
	width: 100%;
}
.slider ul li a {
	display: block;
	width: 99%;
}
.slider li svg,
.slider h2 svg {
	width: 25px;
}

.grid_container {
	position: relative;
	top: 60px;
}


.feed, .recents {
	margin: 0 20px 10px 20px;
}

.feed_title {
	background-color: #2f3e46;
	color: #fff;
	margin-bottom: 10px;
}
.feed_title h1 {
	padding: 25px 5px 5px 15px;
}
.entry .feed_title a {
	color: #fff;
	border-bottom: none;
}

.feed_description {
	padding: 0 5px 5px 15px;
	align-content: baseline;
}

.feed_description h3,
.feed_description .links {
	display: inline-block;
}

.feed_description .links {
	float: right;
}

.feed_description .links a {
	color: #fff;
}

.feed_description .links .sitelogo {
	max-height: 50px;
	width: auto;
	margin-top: -70px;
	margin-left: 10px;
	background: #fff;
	border-radius: 5px;
}



.entry {
	padding: 10px;
	background: #fff;
	-webkit-box-shadow: 3px 3px 10px 0px rgba(69,69,69,1);
	-moz-box-shadow: 3px 3px 10px 0px rgba(69,69,69,1);
	box-shadow: 3px 3px 10px 0px rgba(69,69,69,1);
	overflow: auto;
}

.entry a {
	color: #2e86ab;
	text-decoration: none;
	border-bottom: 1px dotted #000;
}

.entry_title {
	margin-bottom: 5px;
}

.entry_title a {
	color: #2f3e46;
	border: none;
}

.entry_contents blockquote,
.entry_contents pre {
	overflow-x: auto;
	overflow-y: hidden;
	background: #ededed;
	margin: 5px;
}


.entry_info {
	margin-top: 10px;
	padding: 5px;
	border-top: 1px dashed #bbb;
	background: #f7f7e8;
	font-size: 14px;
}


.entry .navwrap {
	background: #2e86ab;
	padding: 0 20px;
}

.navwrap .previous_entries,
.navwrap .next_entries {
	display: inline-block;
	line-height: 48px;
}

.navwrap .next_entries {
	float: right;
	font-size: 18px;
}

.navwrap .previous_entries a,
.navwrap .next_entries a {
  font-family: 'Merriweather', serif;
	font-weight: 600;
	font-size: 22px;
	border-bottom: none;
	color: #fff;
}

.form_grid {
	margin: 0 20px;
}
.form_grid h1 {
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
}
.login_form {
	line-height: 20px;
	font-size: 18px;
}

.login_form label {
	width: 40%;
	display: inline-block;
}

.login_form input[type=text],
.login_form input[type=password] {
	width: 40%;
	text-align: left;
	height: 24px;
}

.login_form input[type=submit] {
	padding: 5px 10px;
}

footer {
	position: relative;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 10px;
	top: 60px;
}

footer svg {
	font-size: 26px;
	background: white;
	border-radius: 14px;
}

footer a {
	color: #000;
}

.sitemark {
	color: orange;
}

.wp-caption {
	max-width: 100% !important;
}

.groups {
	min-width: 70%;
	max-width: 90%;
	margin: 0 auto;
}
.group-feeds {
	background: #eee;
	width: 95%;
	margin-left: 5%;
}

.actions {
	font-size: 150%;
	font-weight: 600;
	text-align: right;
}

.toggle svg {
	border: 1px solid #2f3e46;
	padding: 3px;
	border-radius: 50%;
}

.toggle {
	font-size: 150%;
	font-weight: 600;
}

.toggle a {
	text-decoration: none;
	border: none;
	color: #2f3e46;
}

.toggle a.closed svg {
	transform: rotate(180deg);
}