<!DOCTYPE html>
<html lang="nl">

	<head>
  	{% block head %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Karma:400,500|Open+Sans|Roboto+Condensed" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/rsspy.css?v=4">
  	{% endblock %}
	</head>

	<body>
		<navigation>
			{% block navigation %}
			{% endblock %}
		</navigation>
		<div class="grid_container">
    {% block content %}
  	{% endblock %}
  	</div>

		{% block footer %}
		<p>bye bye</p>
		{% endblock %}
	</body>

</html>

