<div class="entry_info">
    <span class="link"><a href="{{ entry.url }}">
        source:
        <iconify-icon class="_svg" icon="ci:external-link" width="24" inline="true"></iconify-icon>
    </a></span>
    <span class="published">
         {{ entry.published }}
        <iconify-icon class="_svg" icon="material-symbols:manage-history" width="24"></iconify-icon>
    </span>
    {# <span class="cached">&nbsp; {{ entry.entry_created }}</span> #}
    <span class="bookmark">
        {% if entry.bookmarked %}
            <a href="#" data-entryid="{{ entry.ID }}" data-bookmarkid="{{ entry.bookmarked[0] }}"
               class="remove_bookmark active" title="remove bookmark">
                <iconify-icon class="_svg" icon="material-symbols:star" inline="true" width="24"></iconify-icon>
            </a>
        {% else %}
            <a href="#" data-entryid="{{ entry.ID }}" class="add_bookmark inactive"
               title="add bookmark">
                <iconify-icon class="_svg" icon="ic:twotone-star-outline" width="24"></iconify-icon>
            </a>
        {% endif %}
    </span>
</div>
