{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>home of the brave</title>
{% endblock %}

{% block content %}
	{% if feed is defined and feed.title is defined %}
	<div class="feed">
		<div class="feed_title">
			<h1>{{ feed.title }} - {{ feed.url }}</h1>
	  </div>
		<div class="feed_grid">
			{% for entry in feed.entries %}
			<div class="entry" data-ID="{{entry.ID}}">
				<div class="entry_title">
					<h2>{{entry.title}}</h2>
				</div>
				<div class="entry_contents">
					{{entry.contents|safe}}
				</div>
			</div><!-- .entry -->
			{% endfor %}
		{% else %}
			<h2> don't come empty handed!</h2>
			<p>no entries found or feed not defined</p>
		{% endif %}

		</div><!-- .feed_grid -->

	</div> <!-- .feed -->

{% endblock %}