{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>be part of the brave</title>
{% endblock %}

{% block content %}

  <div class="form_grid">
  	<div class="entry">
  		<h1><span class="simple-svg" data-icon="fa-user" data-inline="false"></span> {{user.username}}</h1>
  		<form method="POST" action="/userpage" class="login_form">
  				<label for="email">Email: </label><input type="text" value="{{user.email}}" name="email" id="email" size="30" class="disabled"/> {{user.email}} <br>
  				<label for="password" class="disabled">Wachtwoord: </label><input id="password" name="password" type="password" size="30" class="disabled">
  				<input type="submit" value="update password">
  			</fieldset>

			</form>
		</div>
		<div class="entry">
			<h1><span class="simple-svg" data-icon="iwwa-star" data-inline="false"></span> Bookmarks</h1>
			<p><a href="/{{user.username}}/bookmarks">Bookmarks</a></p>
		</div>
		<div class="entry">
			<h1><span class="simple-svg" data-icon="whh-stacks" data-inline="false"></span> Groups </h1>
			<table class="groups">
				<tr class="group--head">
					<th>Descrption</th>
					<th>aggragation</th>
					<th>frequency</th>
					<th class="actions">
						<span class="simple-svg" data-icon="mdi-playlist-plus"></span>
					</th>
				</tr>
				{% for group in groups %}
				  <tr class="group">
				  	<td>{{group.description}}</td>
				  	<td>{{group.aggregation}}</td>
				  	<td>{{group.frequency}}</td>
				  	<td class="actions">
				  		<a href="/group/{{group.ID}}" title="View" class="action"><span class="simple-svg" data-icon="mdi-eye-outline"></span></a>
				  		<span class="simple-svg" data-icon="mdi-playlist-edit"></span>
				  		<span class="simple-svg" data-icon="mdi-delete-forever"></span>
				  	</td>
				  </tr>
				  <tr class="group-feeds-wrapper">
				  	<td colspan="4">
				  		<table class="group-feeds">
				  			{% for feed in group.feeds %}
				  			<tr class="group-feeds-feed{{group.ID}}">
				  				<td>
				  					{{feed.title}}
				  				</td>
				  				<td>
				  					{{feed.url}}
				  				</td>
				  				<td class="actions">
				  					<span class="simple-svg" data-icon="mdi-delete-forever"></span>
				  				</td>
				  			</tr>
				  			{% endfor %}
				  			<tr>
				  				<td class="toggle">
				  					<a href="#" class="hide-feeds" data-groupid="{{group.ID}}"><span class="simple-svg" data-icon="mdi-chevron-up"></span></a>
				  				<td colspan="2" class="actions">
				  					<span class="simple-svg" data-icon="mdi-playlist-plus"></span>
				  				</td>
				  			</tr>
				  		</table>
				  	</td>
				  </tr>
				{% endfor %}
			</table>
		</div>
	</div>
{% endblock %}